$screen-md-min: 768px;
@mixin md {
  @media only screen and (min-width: $screen-md-min) {
    @content;
  }
}

// start styles
* {
  margin: 0;
  padding: 0;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  font-family: Inconsolata;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-align: left;
  padding-left: 24px;
  padding-top: 20px;

  @include md {
    padding-top: 40px;
    padding-left: 77px;
  }
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  @include md {
    flex-direction: row;
    padding: 0 77px;
  }

  &_img {
    padding: 64px 0;
    max-width: 286.83px;
    max-height: 238px;

    @include md {
      max-width: 539.22px;
      max-height: 447.43px;
    }
  }
  &_content {
    padding: 0 23px;
  }
  &_content_h1 {
    font-family: Space Mono;
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -0.035em;
    text-align: center;
    margin-bottom: 32px;
  }
  &_content_p {
    max-width: 70vw;
    font-family: Space Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.035em;
    font-family: Space Mono;
    display: block;
    margin: 0 auto 32px;
  }
  &_content_button {
    display: block;
    margin: 0 auto;
    font-family: Space Mono;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.035em;
    padding: 24px 42px;
    background-color: rgb(35, 34, 34);
    color: white;

  }
}
.footer {
  display: flex;
  justify-content: center;
  color: #bdbdbd;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  padding-bottom: 24px;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
